* text=auto

/.devcontainer/ export-ignore
/.gitattributes export-ignore
/.editorconfig export-ignore
/.php-cs-fixer.php export-ignore
/phpunit.xml export-ignore
/.github export-ignore
/.gitignore export-ignore
/phpcs.xml.dist export-ignore
/phpunit.xml.dist export-ignore
/tests export-ignore
/stubs export-ignore
