<!--bootstrap="tests/bootstrap.php" -->
<phpunit
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/9.4/phpunit.xsd"
        colors="true"
        convertErrorsToExceptions="true"
        convertNoticesToExceptions="true"
        convertWarningsToExceptions="true"
>
    <testsuites>
        <testsuite name="Hooks Stub Generator Tests">
            <directory>tests/Unit</directory>
        </testsuite>
    </testsuites>
</phpunit>